/* @override http://toerke.be/css/toerkeStijl-global.css */

/* @override http://toerke.dev/css/toerkeStijl-global.css */

/* @override http://toerke.dev/css/toerkeStijl-global.css */


.Kees,
.Kees-en,
.Sarah,
.Sarah-en,
.default {
	border: solid #A3AB51;
	border-width: 3px 0 0 3px;
	padding: 1em 0 0 1em;
	margin-bottom: -1em;
	overflow: hidden;
	height: 100%;
}

@font-face {
    font-family: 'junctionregularRegular';
    src: url('/css/junction-webfont.eot');
    src: url('/css/junction-webfont.eot#iefix') format('embedded-opentype'),
         url('/css/junction-webfont.woff') format('woff'),
         url('/css/junction-webfont.ttf') format('truetype'),
         url('/css/junction-webfont.svg#junctionregularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Serif12BetaRegular';
    src: url('/css/serif12beta-regular-webfont.eot');
    src: url('/css/serif12beta-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/css/serif12beta-regular-webfont.woff') format('woff'),
         url('/css/serif12beta-regular-webfont.ttf') format('truetype'),
         url('/css/serif12beta-regular-webfont.svg#Serif12BetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icons-toerke';
	src:url('/css/fonts/icons-toerke.eot');
	src:url('/css/fonts/icons-toerke.eot#iefix') format('embedded-opentype'),
		url('/css/fonts/icons-toerke.woff') format('woff'),
		url('/css/fonts/icons-toerke.ttf') format('truetype'),
		url('/css/fonts/icons-toerke.svg#icons-toerke') format('svg');
	font-weight: normal;
	font-style: normal;
}





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons-toerke';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

#divRechts [data-icon] {
	padding-right: .75em; 
	font-size: .875em; /* 14px = 14 / 16 */ 
}
#posts [data-icon], #posts a [data-icon] {
	padding-right: .6em; 
}


.icon-quill {
  color: #54571B;
}
ol, ul {
	list-style: none;
}

#reactions div.block.padding ul li {
	padding-bottom: .8em;
}


blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
background: #FFF6EC;  
/*

background: #FFF6EC; 
*/
/*

background: url(/gfx/grid.gif) ; 
*/
}







/* typography */


#posts, #divRechts,div#quote {
	/* font-size: .875em;  14px = 14/16 */
	/* font-size:.9375em; */
	font-size:1em;

}



#posts article header h2, 
#posts nav#route, h1, #related  h2{
	text-align: right;
}


h1 {
	
	font: 3.4375em junctionregularRegular, Arial, Helvetica, Geneva, sans-serif;
	/* size 55px | 55/16 */
	margin-top: .363636364em;
	margin-bottom: .727272727em ;
	
}

h1 a {
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	text-decoration: none;
	background: #FFF6EC;
	color: #c13b19;
}
h1 a:hover{
	-moz-transform-origin :center center;
	-moz-transform: scale(1.1);
	-webkit-transform-origin :center center;
	-webkit-transform: scale(1.1);
}



h2, h3 {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 1.25em; /* 20px = 20 / 16 */ 
	color: #54571b;
	padding-bottom: .2em;
}
h2 a, #extra ul li a{
	text-decoration: none;
	color: #54571b;
}

a {
	color: #53362f;
}

a:hover,#extra ul li a:hover,div.default.no-left-border.tag a:hover {
	color: #b70000;
}

.Sub p{
	float: right;
}
.Sub p span.author{
	float: left;
}

.Sub a.float, a.nofloat {
color: #fff;
font-weight: bold;
font-size: .8em;	
padding: 3px 1em;
margin: 0 0 0 .8em;
background-color: #bc8754;
text-decoration: none;
font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.Sub a.float {
	float: left;
}


.Sub a.float:hover, a.nofloat:hover {
	background-color: #88603c;
}


a.extlink {
	padding-right: 15px;
	background: url(/gfx/external-link.jpg) center right no-repeat;
}



#posts .Sub {
	overflow: hidden;
	clear: both;
	padding-top: 2em;
	text-align: right;
	
}

.share{
	float:right;
	margin: 1em 0 1em 1em;
	font-size: 1.2em;
	
}
.share a {
	text-decoration: none;
}

article article {
	margin-bottom: 1.2em;
}

#posts article.comment .Sub {
	padding-top: 0;
	
}
body {
	margin: 0;
	font: 100%/1.5  Serif12BetaRegular, courier new, "Lucida Grande",Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
}




#wrapper {

	padding: 0 1.25em; /* 20px / 16px = 1.25em */
}

#divRechts, #posts {
	margin-bottom: 2em;
}

#divRechts section{
margin-bottom: 1em;	
}


#related {
	margin: 2em 0;
	clear: right;
	
}


#extra {
	position: absolute;
	top: 0;
	width: 100%;
	height: 2.357142857em;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#extra ul {
	text-align: right;
	/*
    size 14px
    linehight 7
    padding-top: 6px;
	padding-bottom: 3px; 
	border bottom 3px
	.428571429+.214285714=.642857143+1.714285714 = 2.357142857
	*/
	padding: .428571429em 0 .214285714em 0;
	border-bottom: 3px solid #A3AB51;

}

#extra ul li {
	list-style-type: none;
	display: inline;
	border-right: 1px solid;
	padding-right: 8px;
	padding-left: 3px;
}

#extra ul li.current {
	color: #93362e;
}

#extra ul li.last {
	border-right: none;
	padding-right: 0;
}


.main-heading {
	position: relative;
	padding: 2.19em 0 0 0;
	height: auto;
	
}
.tempheading {
	position: relative;
	padding: 1.9em 0 0 0;
	height: 18em;
}

div#quote {
	position: absolute;
	right: 1.428571429em;
	top: 4.5em;
	margin-left: 45%;
	padding-left: 1em;
	padding-right: 30px;
	padding-bottom: 10px;
	background: #FFF6EC;
}

div#quote p {
	display: inline;
	color: #93362e;
	font: 1.3em Georgia, "Times New Roman", Times, serif;
}

div#quote p span {
	position: absolute;
	font-size: 1.6em;
	left: -0.1em;
	top: -4px;
	color: #60460b;
}

div#quote p a {
	color: #93362e;
	text-decoration: none;
}

div#quote p a:hover {
	text-decoration: underline;
	font-weight: normal;
}

div#quote p span#lastquote {
	position: relative;
	left: auto;
	top: auto;
	line-height: 0;
	vertical-align: -5px;
	padding-left: 2px;
}

.noshow {
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}





#divRechts #map{
	
	overflow: hidden;
	margin-bottom: 1em;
}

#divKaartje {
	position: relative;
}

#divKaartje img{
	width: 100%;
}

#divRechts nav {
	margin-bottom: 1.5em;
}


#divHorz, #divVert {
	position: absolute;
}




div.default.no-left-border.tag {
	padding: 0.5em 0;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: left;
	
}
div.default.no-left-border.tag a{
	color: #54571b;
}

.default.no-left-border {
	border-left: none;
	margin-bottom: 1em;
}


p {
	margin-bottom: 1em;
}

p.routelink {
	margin-top: 1em;
}

#divRechts .block {
	border: solid #AAA36F;
	border-width: 3px 3px 0 0;
	overflow: hidden;
}

#divRechts .block.padding {
	padding: 1em 1em 0 0;
}

#countries ul li, #route ul li, .default.no-left-border ul li {
	display: inline;
	
}
.default.no-left-border.list ul li{
	display: block;
	
}
.default.no-left-border.list{
	
}

#route li.year {
	color: #7c4739;
	display: block;
	padding-top: 1em;
}

#route ul {
	margin-top: -1em;
}

#default #reageer, 
#default li.comment,
#kees-en #reageer, 
#kees-en li.comment {
	border: solid #ABABAB;
	border-width: 1px 0 0 1px;
	padding: 1em 0 0 1em;
	margin-bottom: 2em;
}

div#respond {
	border: solid #A3AB51;
	border-width: 3px 0 0 3px;
	padding: 1.5em 0 0 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}

ul#commentlist {
	padding: 0 1em;
	margin: 0 3px 4em 3px;
}
#comments, #respond {
	clear: both;
}

#comments h3{
	padding: 0 1em;
}

ul#commentlist li {
	list-style-type: none;
}

li.comment {
	border: 1px solid #a3ab51;
	border-width: 1px 0 0 0;
	padding: 1em 0 0 0;
	
}

li.comment-author-admin, li.bysarah, li.bymotomuis {
	background: url(/gfx/sarahsgnature.gif) no-repeat bottom right;
}

li.comment-author-Kees {
	background: url(/gfx/keessgnature.gif) no-repeat bottom right;
}

#comment {
	width: 100%;
}


div.pagenavi {
	margin-bottom: 2.5em;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	border-top: 3px solid #A3AB51;
	padding-top: 1em;
}

div.pagenavi ul li {
	display: inline;
}

.pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px;
	margin: 4px;
	text-decoration: none;
	color: #513b09;
	background-color: #ebd975;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.pagenavi a:visited {
	color: #513b09;
}

.pagenavi a:hover {
	color: #000000;
	border: 1px solid #513b09;
	padding: 1px 3px;
}

.pagenavi a:active {
	padding: 2px 4px;
	color: #513b09;
}


.pagenavi li.pages {
	display: none;
	
}

.pagenavi li.current {
	padding: 1px 3px;
	margin: 5px;
	border: 1px solid #513b09;
	font-weight: bold;
}

.flickr div{
	position: relative;
	float: left;
	width: 125px;
	height: 125px;
	overflow: hidden;
	margin: 0 1em 1em 0;
}
.flickr img {
 
	position: absolute;
	
	
}
.flickr p {
	clear: both;
	text-align: right;
}

img.thumb, .thumbnail {
	float: left;
	padding: 0 1em 1em 0;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/gfx/overlay.png);
	z-index: 3;
	cursor: pointer;
}

#overlayImage,
#overlayCaption {
	display: block;
	margin: 20px auto 0;
	border: 1px solid #666;
	padding: 2px;
	background: #fff;
	max-width: 90%;
	max-height: 90%;
}

#overlay.verborgen {
	display: none;
}


.has-pullquote:before {
	/* Reset metrics. */
	padding: 0;
	border: none;
	
	/* Content */
	
	content: attr(data-pullquote);
	
	/* Pull out to the right, modular scale based margins. */
	float: right;
	width: 40%;
	
	margin: 0 0 1.1em 1.1em;
	padding: 1em;
	
	background-color: #f3ebe3;
	
	
	/* Baseline correction */
	position: relative;
	top: 5px;
	
	
	
	font-size: 1.1em;
		line-height: 40px;
		letter-spacing: -1px;color: #444;
	
	
	color: #93362e;
	line-height: 27px;
	text-align: left;
}
.has-pullquote, #map {
	display: none;
}

